@import url('../page/__section/page__section.css');

.page {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  background-color: #2A2C2F;
  color: #FFF;
}

