@import url('../photo-grid/__list/photo-grid__list.css');
@import url('../photo-grid/__item/photo-grid__item.css');
@import url('../photo-grid/__pic/photo-grid__pic.css');


.photo-grid {
 max-width: 1184px;
 width: 100%;
 margin-top: 0;
 margin-bottom: 92px;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
   max-width: 928px;
   width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .photo-grid {
   max-width: 720px;
   width: 100%;
   margin-bottom: 88px;
}
}
