@import url(./__title/lead__title.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__caption/lead__caption.css);
@import url(./__image/lead__image.css);

.lead {
  max-width: 984px;
  margin: 0 auto 92px ;
}

@media screen and (max-width: 768px) {
  .lead {
  max-width: 768px;
  margin: 0 auto 88px;
}
}
