.place__paragraph {
 font-weight: normal;
 font-size: 18px;
 line-height: 1.67;
 margin-top: 0;
 margin-bottom: 24px;
 grid-area: paragraph;
}

.place__paragraph:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
  }
}
