@import url(../intro/__title/intro__title.css);
@import url(../intro/__text/intro__text.css);
@import url(../intro/__list/intro__list.css);
@import url(../intro/__span/intro__span.css);
@import url(../intro/__list-item/intro__list-item.css);

.intro {
  max-width: 690px;
  margin-top: 0;
  margin-bottom: 84px;
  margin-left: 100px;
}


@media screen and (max-width: 1024px) {
  .intro {
    margin-left: 0;
    margin-bottom: 92px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    margin-bottom: 88px;
    max-width: 100vw;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 425px) {
  .intro {
    margin-bottom: 64px;
  }
}

