@import url('./__title/cover__title.css');
@import url('./__subtitle/cover__subtitle.css');
@import url('./__overlay/cover__overlay.css');

.cover {
  max-width: 1184px;
  width: 100%;
  margin: 0 auto 92px;
  height: 740px;
  background-image: url('../../images/cover-trains.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@media screen and (max-width: 1024px) {
  .cover {
    width: 100vw;
    margin: 0 0 92px 0;
    max-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    width: 100vw;
    margin: 0 0 88px 0;
    max-height: 480px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    max-width: 320px;
    width: 100%;
    min-height: 200px;
  }
}
