@import url('./__title/cover__title.css');
@import url('./__subtitle/cover__subtitle.css');
@import url('./__overlay/cover__overlay.css');

.cover {
  max-width: 1184px;
  width: 100%;
  margin: 0 auto 92px;
  height: 740px;
  background-image: url('../../images/cover-image.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .cover {
    width: 100vw;
    height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    margin-bottom: 88px;
    height: 480px;
  }
}

@media screen and (max-width: 425px) {
  .cover {
    height: 200px;
    margin-bottom: 64px;
  }
}
